:root {
  --primary-100: #8FBF9F;
  --primary-200: #68a67d;
  --primary-300: #24613b;
  --accent-100: #F18F01;
  --accent-200: #833500;
  --text-100: #353535;
  --text-200: #5f5f5f;
  --bg-100: #F5ECD7;
  --bg-200: #ebe2cd;
  --bg-300: oklab(79.003% 0.00062 0.02889);
}

.dark {
  --primary-100: #8FA396;
  --primary-200: #6E7D6F;
  --primary-300: #3E4A3F;
  --accent-100: #FFB03B;
  --accent-200: #D9600A;
  --text-100: #F2EDE0;
  --text-200: #B8B0A0;
  --bg-100: #1C1B17;
  --bg-200: #26241E;
  --bg-300: #3A362C;
}

@import "tailwindcss";
@import "@heroui/styles";