PORT=3000
MONGODB_URI=mongodb://localhost:27017/nombre-de-tu-db
BETTER_AUTH_SECRET=clave_secreto_aqui_muy_largo
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:5173
CLIENT_URL=http://localhost:5173